extends ../layout

block content

	.founderForm

		.left.dark-background
			p.ba-fatFont.ba-4 2.
			p.ba-fatFont.ba-4 What
				br
				| are you
				br
				| looking
				br
				| for
			p.ba-subtitle Everyone Need a Soulmate

			.bottom
				p.kawa the co-founder boat
				img(src="images/42-white.svg")

		.right.white-background

			.formDirection

				a(href="/home")
					div
						p I am looking for a cofounder (and I dont have a project)
						img(src="images/hand.svg").ba-4
				a(href="/startupForm")
					div
						p I have a project idea and I am looking for a cofounder
						img(src="images/hands-2.svg").ba-4
