extends ../layout

block content

	.founderForm

		.left.dark-background
			p.ba-fatFont.ba-4 1.
			p.ba-fatFont.ba-4 tell us
				br
				| a more
			img(src="images/hand.svg").ba-4
			p.ba-subtitle Fill this so we can help you

			a.main-button(href="/formDirection") Form done

			.bottom
				p.kawa the co-founder boat
				img(src="images/42-white.svg")

		.right.white-background
			if user
				iframe.airtable-embed(name="myFrame"
					src='https://airtable.com/embed/shrUaPz0bCkoEBxcP?backgroundColor=orangeLight&prefill_email=' + user.email
					frameborder='0' onmousewheel width='100%' height='100%' style='background: transparent; border: 1px solid #ccc;')
			else
				p toto

