extends ../layout


block content
	.founderBrowseCofounder.dark-background

		.title.text-center
			h3.kawa The
				br
				| co-founder boat
			p.ba-subtitle And they worked happily everafter

		.hand
			img(src="images/hand.svg").ba-4
			img(src="images/hands-2.svg").ba-4

		.white-background.card-container

			each val in cards
				.card.dark-background.text-center
					p.kawa.founder Founder
					p= val.name
					a.main-button contact

