extends ../layout

block content
	.founderBrowseStart.dark-background

		.title.text-center
			h3.kawa The
				br
				| co-founder boat
			p.ba-subtitle And they worked happily everafter

		.hand
			img(src="images/hand.svg").ba-4
			img(src="images/hands-2.svg").ba-4


		.gigaButton
			a.kawa(href="/searchFounder") startups
			a.kawa(href="/searchFounder") founders
			a.kawa(href="/searchFounder") browse all
