@import "variables";

.full {
    height     : 100vh;
    max-height : 100%;
    max-width: 100%;
}

.dark-background {
    background : $brand-primary;
}

.white-background {
    background : white;
}

.ba-1 {
    margin-bottom : $size-1;
}

.ba-2 {
    margin-bottom : $size-2;
}


.ba-3 {
    margin-bottom : $size-3;
}

.ba-4 {
    margin-bottom : $size-4;
}

.center-image {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
}

.bottom-fix {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.absoluteCenter {
    position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
}