extends ../layout

block content
	.container.white-background
		.row
			.col-4.dark-background
				p.ba-fatFont 1.
				p.ba-fatFont tell us a more
				//img()
				p.ba-subtitle Fill this so we can help you


				p the co-founder boat
			//img

			.col-8.white-background


